<h4 class="report-title">Headers</h4>
<div id="headers" class="report-section">

  {% include '@unt_accman/inc/report_summary.twig' %}

  <table>
    <thead>
    <th class="id">ID</th>
    <th class="tag">Tag</th>
    <th class="tag-content">Text</th>
    <th class="tag-issue">Issue</th>
    </thead>
    <tbody>

    {% for key,feedback in report %}
      <tr>
        <td class="id">{{ key }}</td>
        <td class="tag">{{ feedback.tag }}</td>
        <td class="inner-text">{{ feedback['inner_text'] }}</td>
        <td>
          {% for issue in feedback['issues'] %}
            {{ issue['text'] }}<br />
          {% endfor %}
        </td>
      </tr>
    {% endfor %}

    </tbody>
  </table>
</div>
